.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #bbe5e3;
  padding: 20px;
  color: white;
}

.App-header img {
  display: inline-block;
  max-width: 100px;
}

.App-header h1 {
  color: #085cbf;
  display: inline-block;
  line-height: 100px;
  margin: 0;
  vertical-align: top;
}

.App-search {
  padding: 20px;
}

h1 {
  margin-top: 0;
}

input {
  box-sizing: border-box;
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
  padding: 20px;
  width: 100%
}

.avg {
  background: linear-gradient(to bottom, #eee 0%,#f1f1f1 100%);
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  font-size: 60px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%
}

@media (min-width: 600px) {
  .avg {
    margin: 0 10px;
    min-width: 150px;
    width: auto;
  }
}

.avg b {
  display: block;
  font-size: 14px
}
